.ListFooter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 80px;
}

.listFooterLi {
    background-color: rgb(27, 26, 26);
    border-radius: 5px;
    padding: 0 2rem 0 2rem;
    cursor: pointer;
}